<html>
    <h1>The Secret Sayings</h1> 
    {%if user.is_authenticated %}
    Hi {{user.username}}
    {% for to in todo %}
    <ul>
        <li>
            
            {{to.text}}
            
            <a href="{% url 'like' to.id %}"><button>like</button></a>
            {{ to.todo_likes_set.count}}
            {% for message in messages %}

        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>

            {{ message }}

        </div>
        {% endfor %}
        </li>
    </ul>
    {% endfor %}

    <form action={% url 'add' %} method="POST">
        {% csrf_token %}
         {{form.text}}
        <button type="submit" url=>Add</button>
    </form>  
    <a href="{%url 'logout'%}"><button>Logout</button></a>
    {%else%}
        Sorry you're not logged in.
        <a href="{%url 'login'%}"><button>Login</button></a>
        <a href="{%url 'signup'%}"><button>Sign Up</button></a>
    {% endif %}
 
</html>